<html>
{# Просмотр конкретной фотографии (изображение оригинального размера). Страница вывода на экран – это twig-шаблон #}
  <head>
  <title>Подлинник изображения</title>
</head>
  <body>
  <h2>Подлинник изображения</h2>
  
  <p>Hello</p>
  <a href="{{homepage}}">Вернуться</a>
    
 
  <img src="{{images}}" alt=""> 
 
  </body>
</html>